---
layout: default
title: Umberto's Ramblings
---




<div class="posts">
    {% for post in site.posts %}
        <article>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="post-meta"><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              {{ post.date | date_to_string }}
            </time></p>

            <small><font color="gray">{{ post.author }}</font> <a style="color:rgb(192,0,105)" href="https://github.com/toelt-llc">
                <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg><span class="username">toelt-llc</span>
            </a>
            <a style="color:rgb(192,0,105)" href="https://github.com/michelucci">
                <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg><span class="username">michelucci</span>
            </a>
            <a style="color:rgb(192,0,105)" href="https://www.twitter.com/umichelucci">
                <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg><span class="username">umichelucci</span>
            </a></small>
            <br/>
            <br/>
            {{ post.excerpt }}
        </article>
    {% endfor %}
</div>﻿
